img {
    visibility: hidden;
}

.b2b-login-wrapper {
     display: flex;
     flex-direction: row;
     justify-content: stretch;

   .b2b-login-scale {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .b2b-login-left-bg {
            background: url(/images/1.jpg) no-repeat;
            background-size: cover;
            transition: all 1s ease;
    
            &:hover {
                transform: scale(1.2);
            }
        }

        .b2b-login-right-bg {
            background: url(/images/2.jpg) no-repeat;
            background-position: center;
            background-size: cover;
            transition: all 1s ease;
    
            &:hover {
                transform: scale(1.2);
            }
        }

        h2 {
            font-weight: normal;
            z-index: 2;
            position: relative;
            bottom: 300px;
            color: #fff;
            margin-left: 20px;

            span {
                font-weight: bold;
            }
        }
        
        button {
            margin: 20px;
            border-radius: 20px;
            height: 40px;
            width: 350px;
            color: deepskyblue;
            font-size: 15px;
            background-color: #fff;
            border: none;
            outline: none;
            z-index: 3;
            position: relative;
            bottom: 300px;

            i {
                margin-left: 10px;
            }
        }

        button:hover {
            background-color: deepskyblue;
            color:white !important;
        }
    }
}