// Global

// Login
.b2b-login {
    width: 50vw;

    h2 {
        font-weight: bold;
    }

    span {
        font-weight: bold;
    }
}
.b2b-login-left {
    background-image: url(images/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.b2b-login-right {
    background-image: url(images/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}